body {
  padding: 0px;
  margin: 0px;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0px;
}

li {
  text-align: right;
  font-size: 27px;
  text-align: center;
  /* border: 1px solid red; */
}
input,
select {
  background-color: bisque;
  border: 2px solid #eee;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  height: 23px;
  text-align: center;
}

select {
  height: 30px;
}

.search-button {
  display: inline-block;
  margin-top: 25px;
  cursor: pointer;
  padding: 4px;
  background: #867e1752;
  color: white;

  border: none;
  border-radius: 10px;
  font-size: 1.5em;
}

.search-button::before {
  /* border: 1px solid red; */
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.icon-search::before {
  background: url('./images/icons/search.svg');
}

.search-button:hover {
  background: green;
  font-weight: bold;
}

.search {
  padding: 15px 15px 40px;
  position: relative;
  z-index: 2;
  background: rgba(46, 2, 2, 0.89);
}

.search-content {
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.search-item {
  display: grid;
  grid-template-columns: 10em;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(249 248 248);
}

.calender {
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* border: 1px solid red; */
}

.calender-content {
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
  margin-left: 0px;
  text-align: center;
  border-radius: 4px;
  background: #3566ef;
  color: #eee;
  /* border: 1px solid red; */
}

.title-calender {
  background: rgba(3, 241, 23, 0.466);
  color: #140433;
  display: block;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}

.first-day {
  grid-column-start: 5;
}

.day-name {
  background: #eee;
  color: black;
  font-weight: bold;
  text-align: center;
}
